{% extends 'main/main.html' %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Forum
            <small>Subheading</small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'main-page' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Forum</li>
        </ol>

    </div>
    <!-- /.container -->

{% endblock %}