{% extends 'main/base_with_heading.html' %}
{% block content2 %}

    <!-- Blog Post -->
    <div class="card mb-4">
        <h5 class="card-header">Featured</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'forum-featured-subpage1' %}">Category 1</a>
            </li>
            <li class="list-group-item">Category 2</li>
            <li class="list-group-item">Category 3</li>
            <li class="list-group-item">Category 4</li>
            <li class="list-group-item">Category 5</li>
        </ul>
    </div>

{% endblock %}