{% extends 'main/base_with_heading.html' %}
{% block content2 %}
    <div class="text-right mb-3">
        <a href="{% url 'featured-subpage2-create-post' %}" class="btn btn-primary">Dodaj nowy temat</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nr</th>
            <th scope="col">Tytuł</th>
            <th scope="col"></th>
            <th scope="col">Ostatnio skomentował</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto2</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacobb</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>

{% endblock %}