{% extends 'main/base_with_heading.html' %}
{% block content2 %}
    {% if user.is_authenticated %}
        <div class="text-right mb-3">
            {# Compare active url and send a user to appropriate post creation page #}
            {% if request.resolver_match.url_name == 'featured-subpage1' %}
                <a href="{% url 'forum:featured-subpage1-create-post' %}"
            {% elif request.resolver_match.url_name == 'featured-subpage2' %}
                <a href="{% url 'forum:featured-subpage2-create-post' %}"
            {% elif request.resolver_match.url_name == 'featured-subpage3' %}
                <a href="{% url 'forum:featured-subpage3-create-post' %}"
            {% elif request.resolver_match.url_name == 'featured-subpage4' %}
                <a href="{% url 'forum:featured-subpage4-create-post' %}"
            {% elif request.resolver_match.url_name == 'featured-subpage5' %}
                <a href="{% url 'forum:featured-subpage5-create-post' %}"
            {% endif %}
                   class="btn btn-primary">Dodaj nowy temat</a>
        </div>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nr posta</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Autor</th>
            <th scope="col">Ostatnio skomentował</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <th scope="row">{{ forloop.revcounter }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.author }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}