{% extends 'main/base.html' %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="col-lg-8 mb-4">
            <h1 class="mt-4 mb-3">
                Zostałeś wylogowany
            </h1>

            <div class="border-top pt-3">
                <small class="text-muted">
                    <a href="{% url 'users:login' %}">Zaloguj się ponownie</a>
                </small>
            </div>
        </div>

    </div>
    <!-- /.container -->

{% endblock %}