{% extends 'main/base.html' %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4">
            {{ user.username }}
        </h1>

        <p>Urodziny: {{ user.profile.born }}</p>
        <p>Miejscowość: {{ user.profile.city }}</p>
        <p>Płeć: {{ user.profile.get_sex_display }}</p>
        <p>Rejestracja: {{ user.date_joined }}</p>
        <p>Ostatnio zalogowany: {{ user.last_login }}</p>
        <p>
            Status:
            {% if user.is_superuser %}
                <span style="color: #ff0300; "><b>Administrator</b></span>
            {% else %}
                Użytkownik
            {% endif %}
        </p>

    </div>
    <!-- /.container -->

{% endblock %}