{% extends 'main/base.html' %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4">{{ user.username }}</h1>
        <p>Rejestracja: {{ user.date_joined }}</p>
        <p>Ostatnio zalogowany: {{ user.last_login }}</p>
        <p>
            Status:
            {% if user.is_superuser %}
                Administrator
            {% else %}
                Użytkownik
            {% endif %}
        </p>

    </div>
    <!-- /.container -->

{% endblock %}