{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="col-lg-8 mb-4">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">
                Rejestracja
            </h1>

            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary"
                            type="submit">Zarejestruj się
                    </button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Masz już konto?
                    <a class="ml-2" href="{% url 'login' %}">
                        Zaloguj się
                    </a>
                </small>
            </div>
        </div>

    </div>
    <!-- /.container -->

{% endblock %}