{% extends 'main/base.html' %}
{% comment %}
    Extend basic template by adding main div to avoid inserting it in each new template.
    Add also heading and subheading on the top of the page.
{% endcomment %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        {% if heading %}
            <h1 class="mt-4 mb-3">
                {{ heading }}
                {% if subheading %}
                    <small>
                        {{ subheading }}
                    </small>
                {% endif %}
            </h1>
        {% endif %}

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'main-page' %}">Home</a>
            </li>

            {% if first_subpage %}
                <li class="breadcrumb-item">
                    {% if first_subpage == 'Forum' %}
                        <a href="{% url 'forum-main' %}">
                    {% else %}
                        <a href="#">
                    {% endif %}
                    {{ first_subpage }}
                    </a>
                </li>
            {% endif %}

            {% if second_subpage %}
                <li class="breadcrumb-item">
                    {% if second_subpage == 'Featured' %}
                        <a href="{% url 'forum-featured' %}">
                    {% else %}
                        <a href="#">
                    {% endif %}
                    {{ second_subpage }}
                    </a>
                </li>
            {% endif %}

            <li class="breadcrumb-item active">
                {% if subheading %}
                    {{ subheading }}
                {% else %}
                    {{ heading }}
                {% endif %}
            </li>
        </ol>

        {% block content2 %}
        {% endblock %}

    </div>
    <!-- /.container -->

{% endblock %}



