<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'main:home' %}">Home</a>
    </li>

    {% if first_subpage %}
        <li class="breadcrumb-item">
            {% if first_subpage == 'Forum' %}
                <a href="{% url 'forum:main' %}">
            {% else %}
                <a href="#">
            {% endif %}
            {{ first_subpage }}
            </a>
        </li>
    {% endif %}

    {% if second_subpage %}
        <li class="breadcrumb-item">
            {% if second_subpage == 'Featured' %}
                <a href="{% url 'forum:featured' %}">
            {% else %}
                <a href="#">
            {% endif %}
            {{ second_subpage }}
            </a>
        </li>
    {% endif %}

    <li class="breadcrumb-item active">
        {% if subheading %}
            {{ subheading }}
        {% else %}
            {{ heading }}
        {% endif %}
    </li>
</ol>