{% extends 'layout/base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="text-right mb-3">
            <a class="btn btn-primary"
               href="{% url 'forum:topic-create' section_name=category.section.name category_id=category.id %}">
                Add new topic
            </a>
        </div>
    {% endif %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Lastly commented by</th>
        </tr>
        </thead>

        <tbody>
        {% for topic in topics %}
            <tr>
                <th scope="row">{{ forloop.revcounter }}</th>
                <td>
                    <a href="{{ topic.get_absolute_url }}">
                        {{ topic.title }}
                    </a>
                </td>
                <td>
                    <a href="{{ topic.author.profile.get_absolute_url }}">
                        {{ topic.author }}
                    </a>
                </td>
                <td>
                    <a href="{{ topic.posts.last.author.profile.get_absolute_url }}">
                        {{ topic.posts.last.author }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}