{% extends 'layout/base.html' %}

{% block content %}
    <h1 class="mt-4 mb-3">
        {{ category.name }}
    </h1>

    <ol class="breadcrumb">
        {% url 'main:home' as url %}
        {% include 'components/_breadcrumb_item.html' with text='Home' url=url %}

        {% url 'forum:main' as url %}
        {% include 'components/_breadcrumb_item.html' with text='Forum' url=url %}

        {% url 'forum:section' category.section.name as url %}
        {% include 'components/_breadcrumb_item.html' with text=category.section.name url=url %}

        {% include 'components/_breadcrumb_item.html' with text=category.name active=True %}
    </ol>

    {% if user.is_authenticated %}
        <div class="text-right mb-3">
            <a class="btn btn-primary"
               href="{% url 'forum:topic-create' section_name=category.section.name category_id=category.id %}">
                Add new topic
            </a>
        </div>
    {% endif %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Lastly commented by</th>
        </tr>
        </thead>

        <tbody>
        {% for topic in topics %}
            <tr>
                <th scope="row">{{ forloop.revcounter }}</th>
                <td>
                    <a href="{{ topic.get_absolute_url }}">
                        {{ topic.title }}
                    </a>
                </td>
                <td>
                    <a href="{{ topic.author.profile.get_absolute_url }}">
                        {{ topic.author }}
                    </a>
                </td>
                <td>
                    <a href="{{ topic.posts.last.author.profile.get_absolute_url }}">
                        {{ topic.posts.last.author }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}