{% extends 'layout/base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="text-right mb-3">
            <a class="btn btn-primary"
               href="{% url 'forum:topic-create' section_name=category.section.name category_id=category.id %}">
                Add new topic
            </a>
        </div>
    {% endif %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Autor</th>
            <th scope="col">Ostatnio skomentował</th>
        </tr>
        </thead>

        <tbody>
        {% for topic in topics %}
            <tr>
                <th scope="row">{{ forloop.revcounter }}</th>
                <td>{{ topic.title }}</td>
                <td>{{ topic.author }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}