{% extends 'layout/base.html' %}

{% block content %}
    <h1 class="mt-4 mb-3">
        Forum
    </h1>

    <ol class="breadcrumb">
        {% url 'main:home' as url %}
        {% include 'components/_breadcrumb_item.html' with text='Home' url=url %}

        {% include 'components/_breadcrumb_item.html' with text='Forum' active=True %}
    </ol>

    <!-- Blog Topic -->
    {% for section in sections %}
        <div class="card mb-4">
            <h5 class="card-header">
                <a href="{% url 'forum:section' section.name %}">{{ section.name }}</a>
            </h5>
            <ul class="list-group">
                {% for category in section.categories.all %}
                    <li class="list-group-item">
                        <a href="{% url 'forum:category' section_name=section.name name=category.name %}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    {% include 'components/_pagination.html' %}

{% endblock %}