{% extends 'layout/base.html' %}

{% block content %}
    <!-- Blog Post -->
    <div class="card mb-4">
        <h5 class="card-header">{{ section.name }}</h5>
        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item">
                    <a href="{% url 'forum:category' section_name=category.section.name name=category.name %}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}