{% extends 'layout/base.html' %}

{% block content %}
    <h1 class="mt-4 mb-3">
        {{ topic.category.section.name }}
        <small>
            {{ topic.category.name }}
        </small>
    </h1>

    <ol class="breadcrumb">
        {% url 'main:home' as url %}
        {% include 'components/_breadcrumb_item.html' with text='Home' url=url %}

        {% url 'forum:main' as url %}
        {% include 'components/_breadcrumb_item.html' with text='Forum' url=url %}

        {% url 'forum:section' topic.category.section.name as url %}
        {% include 'components/_breadcrumb_item.html' with text=topic.category.section.name url=url %}

        {% url 'forum:category' section_name=topic.category.section.name name=topic.category.name as url %}
        {% include 'components/_breadcrumb_item.html' with text=topic.category.name url=url %}

        {% include 'components/_breadcrumb_item.html' with text=topic.title active=True %}
    </ol>

    <div class="card mb-4">
        <h4 class="card-header d-flex justify-content-between">{{ topic.title }}
            {% if topic.author == user or request.user.is_superuser %}
                <div>
                    <a href="{% url 'forum:topic-update' topic.pk %}"
                       class="btn btn-primary">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a href="{% url 'forum:topic-delete' topic.pk %}"
                       class="btn btn-danger">
                        <i class="bi bi-trash3"></i>
                    </a>
                </div>
            {% endif %}
        </h4>
        <div class="card-body">
            <p class="card-text">{{ topic.content }}</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <p class="d-flex align-items-center mb-0">
                <small>
                    <a href="{{ topic.author.profile.get_absolute_url }}">
                        {{ topic.author.username }}</a>, {{ topic.date_posted|date:"d M Y h:i A" }}
                </small>
            </p>
            {% if user.is_authenticated %}
                <a href="{% url 'forum:post-create' topic.pk %}"
                   class="btn btn-primary">Reply
                </a>
            {% else %}
                <a href="{% url 'users:login' %}"
                   class="btn btn-primary">Reply
                </a>
            {% endif %}
        </div>
    </div>
    {% for post in topic.posts.all %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text">{{ post.content }}</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <p class="d-flex align-items-center mb-0">
                    <small><a href="{{ post.author.profile.get_absolute_url }}">
                        {{ post.author.username }}</a>, {{ post.date_posted|date:"d M Y h:i A" }}
                    </small>
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}