{% extends 'layout/base.html' %}

{% block content %}
    <div class="card mb-4">
        <h4 class="card-header d-flex justify-content-between">{{ topic.title }}
            {% if topic.author == user or request.user.is_superuser %}
                <div>
                    <a href="{% url 'forum:topic-delete' topic.pk %}"
                       class="btn btn-danger">
                        <i class="bi bi-trash3"></i>
                    </a>
                </div>
            {% endif %}
        </h4>
        <div class="card-body">
            <p class="card-text">{{ topic.content }}</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <p class="d-flex align-items-center mb-0">
                <small>
                    <a href="{{ topic.author.profile.get_absolute_url }}">
                        {{ topic.author.username }}</a>, {{ topic.date_posted|date:"d M Y h:i A" }}
                </small>
            </p>
            <a href="{% url 'forum:post-create' topic.pk %}"
               class="btn btn-primary">Reply
            </a>
        </div>
    </div>
    {% for post in topic.posts.all %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text">{{ post.content }}</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <p class="d-flex align-items-center mb-0">
                    <small><a href="{{ post.author.profile.get_absolute_url }}">
                        {{ post.author.username }}</a>, {{ post.date_posted|date:"d M Y h:i A" }}
                    </small>
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}